################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatterns/.vs/DesignPatterns/v16
/DesignPatterns/.vs/DesignPatterns/DesignTimeBuild
D:\dotnetprojects\DesignPatterns\DesignPatterns\DesignPatterns\bin
D:\dotnetprojects\DesignPatterns\DesignPatterns\DesignPatterns\obj