################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatterns/.vs/DesignPatterns/v16
/DesignPatterns/.vs/DesignPatterns/DesignTimeBuild
